Source: fgdiag
Section: utils
Priority: optional
Maintainer: Freegeek Coders <coders@freegeek.org>
Uploaders: Martin Chase <mchase@freegeek.org>, Vagrant Cascadian <vagrant@freegeek.org>
Build-Depends: cdbs, debhelper (>= 4.0.0), python-dev, txt2man
Standards-Version: 3.6.1

Package: fgdiag
Architecture: all
Depends: mtools, console-tools, time, less, smartmontools, lsscsi, ruby
Suggests: 
Description: Free Geek Diagnostics
 Software used to test hardware at Free Geek.
