Source: fgdiag
Section: utils
Priority: optional
Maintainer: Kevin Turner <kevin@freegeek.org>
Build-Depends-Indep: debhelper (>= 4.0.0), python2.2-dev, txt2man
Standards-Version: 3.6.1

Package: fgdiag
Architecture: all
Depends: ${python:Depends}, mtools, console-tools, time, isapnptools, python2.2-psycopg
Suggests: python2.2-twisted, python-epydoc
Description: Free Geek Diagnostics
 Software used to test hardware at Free Geek.
